<app-layout>
<section class="java-console"></section>

<ng-template #content let-modal>
    <div class="modal-header">
      <div class="modal-title" id="modal-basic-title">Java console</div>
      <button type="button" class="close" aria-label="Close" (click)="back()">
        <span class="close-btn"></span>
      </button>
    </div>
    <div class="modal-body p-0">
        <div class="d-flex flex-column align-items-center h-100">
         
          <!-- Log List -->
          <div class="log-list normal-font general-font-size">
            <P>ED_SearchControler.getGUIVaultOrderNo()</P>
            <P>ED_SearchControler.getGUIVaultOrderNo()</P>
            <P>ED_SearchControler.getGUIVaultOrderNo()</P>
            <P>ED_SearchControler.getGUIVaultOrderNo()</P>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner()</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=maxDealsToSelect</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=SettlementBranch</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=DealerCode</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=OrderNtText</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=RegisterDateFromText</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=ValueDatetoText</p>
            <P>ED_SearchControler.getGUIVaultOrderNo()</P>
            <P>ED_SearchControler.getGUIVaultOrderNo()</P>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner()</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=maxDealsToSelect</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=DealerCode</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=OrderNtText</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=DealerCode</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=OrderNtText</p>
            <p>Cso.setErrors(Cso[])</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() toCleanArray=false</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=DealerCode</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=DealerCode</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=InputField</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=DealerCode</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=OrderNtText</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=DealerCode</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=OrderNtText</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=DealerCode</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=OrderNtText</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=DealerCode</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=OrderNtText</p>
            <P>ED_SearchControler.getGUIVaultOrderNo()</P>
            <P>ED_SearchControler.getGUIVaultOrderNo()</P>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner()</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=maxDealsToSelect</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=SettlementBranch</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=DealerCode</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=OrderNtText</p>
            <P>ED_SearchControler.getGUIVaultOrderNo()</P>
            <P>ED_SearchControler.getGUIVaultOrderNo()</P>
            <P>ED_SearchControler.getGUIVaultOrderNo()</P>
            <P>ED_SearchControler.getGUIVaultOrderNo()</P>
            <P>ED_SearchControler.getGUIVaultOrderNo()</P>
            <P>ED_SearchControler.getGUIVaultOrderNo()</P>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=OrderNtText</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=DealerCode</p>
            <p>ED_ApplicationControler_SpotDeal.RemoveListner() component=OrderNtText</p>
          </div>
         
          <div class="border"></div>
         
          <div class="modal-footer  d-flex justify-content-center w-100">
              <div class="d-flex justify-content-between">
                  <div class="p-0">
                    <a class="btn btn-action mr-1">CLEAR</a>
                    <a class="btn btn-action mr-1">COPY</a>
                    <a class="btn btn-action mr-1" (click)="back()">CLOSE</a>
                  </div>
                  
                </div>
          </div>
          
        </div>
    </div>
    
  </ng-template>
</app-layout>