<!-- Input popup -->
<div class="input-popup-wrapper {{className}}" [ngClass]="{'error':isErrorClass}"  (contextmenu)="$event.stopPropagation();">
  <div class="m-0 d-flex flex-row w-100">
    <div class="m-0 p-0 w-100">
      <input [type]="type" class="text-input-box error-focus" [(ngModel)]="value" [placeholder]="placeholder" [readOnly]="isReadonly"
        [required]="required" [maxlength]="maxLength" [appPadNumber]="padNumber" [name]="name" (keyup)="onKey(value)" (blur)="onBlur($event)" [disabled]="isTextInputDisabled">
    </div>
    <div class="button-icon" (click)="onAdd(content)"></div>

  </div>
</div>
<!-- Input popup END -->

<ng-template #content let-modal>
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">Code List</div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span class="close-btn"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="org-selection-list-box">
      <!-- LOOKUP-INPUT-LIST -->
      <div class="org-input-list">
        <div class="org-search-input mb-3">
          <app-textbox [isSearch]=true type="text" [value]="" name="'search'" placeholder='Search code or name' (keyUp)="onSearch($event)"></app-textbox>
        </div>
        <!-- SEARCH-LIST-SECTION  -->

        <div class="codelist-tbl ">

          <table class="table table-striped table-hover">

            <tbody>
              <tr *ngFor="let code of codes; let i = index" (click)="selectCode(i)" [class.active]="activeCode===i">
                <td>{{code.id}}</td>
                <td>{{code.name}}</td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
      <!-- Action bar started -->
      <div class="d-flex justify-content-between ">
        <div class="p-2">
          <a class="btn btn-action mr-1" (click)="enterSelection()"><strong>ENTER</strong>&nbsp;=&nbsp;OK</a>
        </div>
        <div class="p-2">
          <a class="btn btn-action" (click)="cancelSelection()"><strong>ESC</strong>&nbsp;=&nbsp;Cancel</a>
        </div>
      </div>
    </div>
  </div>

</ng-template>