<header>
  <div class="d-flex">
    <div class="menu-icon p-1 mr-3 pl-3 ml-2" (click)="openMenu()"> </div>
    <div class="mr-auto p-1 font-weight-light">V.1.121&mdash;Collateral Management</div>
    <div class="p-1 mr-4 user-icon">
      <span class="ml-4 font-weight-light"> A 123456 (001)</span>
    </div>
    <div class="p-1 mr-4 time-icon">
      <span class="ml-4 font-weight-light"> 01.01.2018 / 13.15</span>
    </div>
    <div class="p-1 mr-4 et-icon">
      <span class="ml-2 mr-4 pl-2 font-weight-light">ET</span>
    </div>
  </div>
  <!-- Drop down Menu -->
  <app-popup-menu [isOpen]="isOpenMenu"></app-popup-menu>


</header>