<!-- References Tab -->
<section>
  <div class="references-block">
  <div class="row">
    <!-- Left Column Contains Flexes -->
    <div class="col col-10">
      <div class="row ">

        <div class="col pr-0">

          <!-- Left Side First Flex Box -->
          <div class="flex-box">
            <!-- Flex -->
            <div class="d-flex">
              <div class="mt-1">
                <div class="label-text mr-auto">Souche-Number DP (FX/Metal)</div>
                <span class="float-right mr-2"></span>
              </div>
              <div  (contextmenu)="$event.stopPropagation();" class="form-group flex-fill">
                <input type="text" class="form-control" disabled>
              </div>
            </div>
            <!-- Flex -->
            <div class="d-flex">
              <div class="mt-1">
                <div class="label-text mr-auto">Old</div>
                <span class="float-right mr-2"></span>
              </div>
              <div  (contextmenu)="$event.stopPropagation();" class="form-group flex-fill">
                <input type="text" class="form-control" disabled>
              </div>
            </div>
          </div>

          <!-- Left Side Second Flex Box -->
          <div class="flex-box">
            <!-- Flex -->
            <div class="d-flex">
              <div class="mt-2">
                <div class="label-text mr-auto">Compensation/Original Deals
                  <span class="float-right font-weight-bold mr-2">1.</span>
                </div>
              </div>
              <div  (contextmenu)="$event.stopPropagation();" class="form-group flex-fill">
                <input type="text" class="form-control" disabled>
              </div>
            </div>
            <!-- Flex -->
            <div class="d-flex">
              <div class="mt-2">
                <div class="label-text mr-auto">
                  <span class="float-right font-weight-bold mr-2">2.</span>
                </div>
              </div>
              <div  (contextmenu)="$event.stopPropagation();" class="form-group flex-fill">
                <input type="text" class="form-control" disabled>
              </div>
            </div>
          </div>

          <!-- Left Side Third Flex Box -->
          <div class="flex-box">
            <!-- Flex -->
            <div class="d-flex">
                <div class="mt-2">
                    <div class="label-text mr-auto">VAT-Codes
                      <span class="float-right mr-2 font-weight-bold">Debit</span>
                    </div>
                  </div>
              <div  (contextmenu)="$event.stopPropagation();" class="form-group flex-fill">
                <input type="text" class="form-control" disabled>
              </div>
            </div>
            <!-- Flex -->
            <div class="d-flex">
              <div class="mt-2">
                  <div class="label-text mr-auto"></div>
                  <span class="float-right mr-2 font-weight-bold">Credit</span>
              </div>
              <div  (contextmenu)="$event.stopPropagation();" class="form-group flex-fill">
                <input type="text" class="form-control" disabled>
              </div>
            </div>
          </div>

        </div>

        <div class="col">
          <!-- Right Side First Flex Box -->
          <div class="flex-box">
            <!-- Flex -->
            <div class="d-flex">
              <div class="label-text pt-4">PMP References Number</div>
              <div  (contextmenu)="$event.stopPropagation();" class="form-group pt-3 flex-fill">
                <input type="text" class="form-control" disabled>
              </div>
            </div>

          </div>

          <!-- Right Side Second Flex Box -->
          <div class="flex-box">
            <!-- Flex -->
            <div class="d-flex">
              <div class="label-text  pt-4">Deposit Number</div>
              <div  (contextmenu)="$event.stopPropagation();" class="form-group  pt-3 flex-fill">
                <input type="text" class="form-control" disabled>
              </div>
            </div>

          </div>

          <!-- Right Side Third Flex Box -->
          <div class="flex-box">
            <!-- Flex -->
            <div class="d-flex">
              <div class="label-text">NBS Detail Processing Number </div>
              <div  (contextmenu)="$event.stopPropagation();" class="form-group flex-fill">
                <input type="text" class="form-control" disabled>
              </div>
            <!-- Flex -->
            </div>
            <div class="d-flex">
              <div class="label-text tiny-text mt-2">TLS Number</div>
              <div  (contextmenu)="$event.stopPropagation();" class="form-group flex-fill">
                <input type="text" class="form-control" disabled>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <!-- Right Side Empty Area -->
    <div class="col col-2">

    </div>
  </div>
  </div>
  
</section>