<section>
    <div class="prevention-block">
  
          <div class="row">
            <div class="col col-9">
  
              <div class="row">
                <div class="col">
                  
                <app-pm-card [title]="'Special Tax'">
                    <div class="d-flex">
                        <div class="form-group flex-fill">
                            <app-textarea ></app-textarea>
                        </div>
                    </div>
                  </app-pm-card>
                </div>
                <div class="col">
  
                </div>
              </div>
  
            </div>
          </div>
  
    </div>
  </section>
  